body{
	/* 
		Background pattern by Jordan Pittman via Subtle Patterns
		Source: http://subtlepatterns.com/low-contrast-linen/
		Adapted, brightness and contrast raised (100 & 40 resp.)
	*/
	background-image: url(img/dark_wood.png);
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

div.content{
	overflow:auto;
	padding-bottom: 1em;
}

hr{
	border: 0;
	color: #ddd;
	background-color: #ddd;
	height: 0.5ex;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

h1{
	display:block;
	width:100%;
	margin: 0;
	
	text-align:center;

	font-family: 'Gentium Basic', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 5em;
	
	color: #ddd;
}

h2{
	margin-top: 0;
	margin-bottom: 0.5em;


	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5em;
}


a{
	color: #000;
	text-decoration: none;
}

.content p{
	margin: 0;
}

table{
	border-collapse: collapse;
	margin-bottom:1em;

	vertical-align: top;
	text-align: left;
}

tbody th, thead th{
	padding-left: 1em;
	padding-right: 0;
}

tbody th{
	font-weight: 400;
	font-style: italic;
}

thead th{
	font-weight: 700;
	font-style: normal;
}

tbody th:first-child, thead th:first-child{
	width: 10em;
	
	text-align: right;
	vertical-align: top;

	border-right: 0.5ex solid #ddd;
	padding-left: 0;
	padding-right: 1em;
}

td {
	text-align: left;
	padding-left: 1em;
}

#time .ui-button-text{
	padding: 0 0.5em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

.desc,.spec{
	color: #999;
}

.title:before{
	content:"»";

	display: inline-block;
	width: 1.5em;
}

.spec:before{
	content:"›";
	
	display:inline-block;
	width: 1em;
	margin-left: 3em;
}

.desc:before{
	content: "";

	display: inline-block;
	width: 4em;
}

.period:not(:first-child):before{
	content:"&";
	padding-right: 3.5em;
	display:block;
}

#timeselect{
	text-align:right;
	margin-top: 1em;
}

/* blocks */

#paper{
	width: 56em;
	margin: 2em auto;

	padding: 2em;

	background-color: rgb(255,255,255);

	overflow: auto;
}

.fullpage{
	display: block;
	width: 100%;

	float:left;
}

.halfpage{
	display:block;
	width: 50%;

	float:left;

}
